$primaryColor:$brandSecondary;
$primaryTextColor:#fefefe;

$primaryLightestColor: #E0F7FA;
$primaryMenuTextColor: #00838F;

$accentColor:#ff3366;
$accentTextColor:#ffffff;

@import '../../../../src/assets/scss/theme/_theme_light';

