/* Error: Undefined variable.
 *   ,
 * 2 |     background: $overlayContentBg;
 *   |                 ^^^^^^^^^^^^^^^^^
 *   '
 *   ../../../../src/assets/scss/theme/designer/components/overlay/_confirmpopup.scss 2:17  @import
 *   ../../../../src/assets/scss/theme/designer/_components.scss 59:9                       @import
 *   ../../../../src/assets/scss/theme/_theme_light.scss 4:9                                @import
 *   theme_light.scss 10:9                                                                  @import
 *   theme.scss 5:11                                                                        root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a   \2577 \a 2 \2502      background: $overlayContentBg;\a   \2502                  ^^^^^^^^^^^^^^^^^\a   \2575 \a   ../../../../src/assets/scss/theme/designer/components/overlay/_confirmpopup.scss 2:17  @import\a   ../../../../src/assets/scss/theme/designer/_components.scss 59:9                       @import\a   ../../../../src/assets/scss/theme/_theme_light.scss 4:9                                @import\a   theme_light.scss 10:9                                                                  @import\a   theme.scss 5:11                                                                        root stylesheet";
}
