$primaryColor:#ff0000;
$primaryLightestColor: #E0F7FA;
$primaryMenuTextColor: #00838F;
$primaryTextColor:#212121;
$accentColor:#d41900;
$accentTextColor:#ffffff;

@import '../../../../src/assets/scss/theme/_theme_light';

